body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
a
{
   color: #0000FF;
   text-decoration: underline;
}
a:visited
{
   color: #800080;
}
a:active
{
   color: #FF0000;
}
a:hover
{
   color: #0000FF;
   text-decoration: underline;
}
input:focus, textarea:focus, select:focus
{
   outline: none;
}
#master_pageLayer2
{
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 0px;
}
#wb_master_pageFontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#master_pageFontAwesomeIcon1
{
   height: 20px;
   width: 20px;
}
#master_pageFontAwesomeIcon1 i
{
   color: #000000;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#master_pageFontAwesomeIcon1:hover i
{
   color: #000000;
}
#wb_master_pageFontAwesomeIcon2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#master_pageFontAwesomeIcon2
{
   height: 20px;
   width: 20px;
}
#master_pageFontAwesomeIcon2 i
{
   color: #000000;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#master_pageFontAwesomeIcon2:hover i
{
   color: #000000;
}
#wb_master_pageFontAwesomeIcon3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#master_pageFontAwesomeIcon3
{
   height: 20px;
   width: 20px;
}
#master_pageFontAwesomeIcon3 i
{
   color: #000000;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#master_pageFontAwesomeIcon3:hover i
{
   color: #000000;
}
#master_pageLayer3
{
   background-color: transparent;
   background-image: none;
   border-radius: 0px;
}
#wb_master_pageFontAwesomeIcon4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #245580;
   border-radius: 0px;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#master_pageFontAwesomeIcon4
{
   height: 20px;
   width: 20px;
}
#master_pageFontAwesomeIcon4 i
{
   color: #000000;
   display: inline-block;
   font-size: 20px;
   line-height: 20px;
   vertical-align: middle;
   width: 19px;
}
#master_pageFontAwesomeIcon4:hover i
{
   color: #000000;
}
#wb_master_pageText1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_master_pageText1 div
{
   text-align: left;
}
#master_pageLayer3_Container
{
   width: 126px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#master_pageLayer2_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#master_pageLayer3
{
   position: absolute;
   text-align: center;
   left: 827px;
   top: 7px;
   width: 126px;
   height: 40px;
   z-index: 5;
}
#master_pageLayer2
{
   position: absolute;
   text-align: center;
   left: 0px;
   top: 317px;
   width: 100%;
   height: 54px;
   z-index: 10;
}
#wb_master_pageText1
{
   position: absolute;
   left: 27px;
   top: 19px;
   width: 333px;
   height: 16px;
   z-index: 4;
}
#wb_master_pageFontAwesomeIcon4
{
   position: absolute;
   left: 97px;
   top: 10px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 3;
}
#wb_master_pageFontAwesomeIcon1
{
   position: absolute;
   left: 68px;
   top: 10px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 2;
}
#wb_master_pageFontAwesomeIcon2
{
   position: absolute;
   left: 39px;
   top: 10px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 1;
}
#wb_master_pageFontAwesomeIcon3
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 20px;
   height: 20px;
   text-align: center;
   z-index: 0;
}
@media only screen and (min-width: 768px) and (max-width: 969px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#master_pageLayer2
{
   left: 0px;
   top: 317px;
   height: 54px;
   visibility: visible;
   display: block;
}
#master_pageLayer2
{
   width: 100%;
}
#master_pageLayer2_Container
{
   width: 768px;
}
#master_pageContentPlaceHolder1
{
   left: 0px;
   top: 0px;
   width: 768px;
   height: 317px;
   visibility: visible;
   display: inline;
}
#wb_master_pageFontAwesomeIcon1
{
   left: 68px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon1
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon1 i
{
   line-height: 20px;
   font-size: 20px;
   width: 17px;
}
#wb_master_pageFontAwesomeIcon2
{
   left: 39px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon2
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon2 i
{
   line-height: 20px;
   font-size: 20px;
   width: 11px;
}
#wb_master_pageFontAwesomeIcon3
{
   left: 10px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon3
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon3 i
{
   line-height: 20px;
   font-size: 20px;
   width: 19px;
}
#master_pageLayer3
{
   left: 630px;
   top: 7px;
   width: 126px;
   height: 40px;
   visibility: visible;
   display: block;
}
#master_pageLayer3_Container
{
   width: 126px;
}
#wb_master_pageFontAwesomeIcon4
{
   left: 97px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon4
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon4 i
{
   line-height: 20px;
   font-size: 20px;
   width: 14px;
}
#wb_master_pageText1
{
   left: 27px;
   top: 19px;
   width: 333px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_master_pageText1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#master_pageLayer2
{
   left: 0px;
   top: 317px;
   height: 54px;
   visibility: visible;
   display: block;
}
#master_pageLayer2
{
   width: 100%;
}
#master_pageLayer2_Container
{
   width: 480px;
}
#master_pageContentPlaceHolder1
{
   left: 0px;
   top: 0px;
   width: 480px;
   height: 317px;
   visibility: visible;
   display: inline;
}
#wb_master_pageFontAwesomeIcon1
{
   left: 68px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon1
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon1 i
{
   line-height: 20px;
   font-size: 20px;
   width: 17px;
}
#wb_master_pageFontAwesomeIcon2
{
   left: 39px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon2
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon2 i
{
   line-height: 20px;
   font-size: 20px;
   width: 11px;
}
#wb_master_pageFontAwesomeIcon3
{
   left: 10px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon3
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon3 i
{
   line-height: 20px;
   font-size: 20px;
   width: 19px;
}
#master_pageLayer3
{
   left: 340px;
   top: 7px;
   width: 126px;
   height: 40px;
   visibility: visible;
   display: block;
}
#master_pageLayer3_Container
{
   width: 126px;
}
#wb_master_pageFontAwesomeIcon4
{
   left: 97px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon4
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon4 i
{
   line-height: 20px;
   font-size: 20px;
   width: 14px;
}
#wb_master_pageText1
{
   left: 27px;
   top: 19px;
   width: 333px;
   height: 16px;
   visibility: visible;
   display: inline;
}
#wb_master_pageText1
{
   margin: 0;
   padding: 0;
}
}
@media only screen and (max-width: 479px)
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#master_pageLayer2
{
   left: 0px;
   top: 317px;
   height: 54px;
   visibility: visible;
   display: block;
}
#master_pageLayer2
{
   width: 100%;
}
#master_pageLayer2_Container
{
   width: 320px;
}
#master_pageContentPlaceHolder1
{
   left: 0px;
   top: 0px;
   width: 320px;
   height: 317px;
   visibility: visible;
   display: inline;
}
#wb_master_pageFontAwesomeIcon1
{
   left: 68px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon1
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon1 i
{
   line-height: 20px;
   font-size: 20px;
   width: 17px;
}
#wb_master_pageFontAwesomeIcon2
{
   left: 39px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon2
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon2 i
{
   line-height: 20px;
   font-size: 20px;
   width: 11px;
}
#wb_master_pageFontAwesomeIcon3
{
   left: 10px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon3
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon3 i
{
   line-height: 20px;
   font-size: 20px;
   width: 19px;
}
#master_pageLayer3
{
   left: 179px;
   top: 7px;
   width: 126px;
   height: 40px;
   visibility: visible;
   display: block;
}
#master_pageLayer3_Container
{
   width: 126px;
}
#wb_master_pageFontAwesomeIcon4
{
   left: 97px;
   top: 10px;
   width: 20px;
   height: 20px;
   visibility: visible;
   display: inline;
   margin: 0;
   padding: 0;
}
#master_pageFontAwesomeIcon4
{
   width: 20px;
   height: 20px;
}
#master_pageFontAwesomeIcon4 i
{
   line-height: 20px;
   font-size: 20px;
   width: 14px;
}
#wb_master_pageText1
{
   left: 11px;
   top: 11px;
   width: 194px;
   height: 32px;
   visibility: visible;
   display: inline;
}
#wb_master_pageText1
{
   margin: 0;
   padding: 0;
}
}
